.tools {
  min-width: 22vw;
  min-height: 100%;
  background-color: #1b1b1b;
  border-right: 1px solid #303030;
  align-items: stretch;
}

.thumbnailList {
  height: 93vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.fluidContainer {
  display: flex;
  height: auto;
}

.columnOne, .columnTwo {
  flex: 1;
  flex-direction: column;
  display: flex;
  align-items: center;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  overflow: hidden;
  background: #00000000; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(7, 7, 7); 
  border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(15, 15, 15); 
}


.btnExplorerExtended {
  content: "Retracter";
}

.btnExplorerWrapped {
  content: "Développer";
}

.explorerExtended {
  background-color: blue;
  display: inline;

}

.explorerWrapped {
  background-color: red;
  display: none;
}