.hidden {
  visibility: hidden;
}

.stats {
  position: absolute;
  top: 100px;
  right: 0;
}

.content {
  /* width: 40vw; */
  /* min-width: 25vw;
  align-items: stretch;
  margin: 0px; */

  /* justify-content: flex-end; */
}

.stageWrapped{
  min-width: 39vw;
}

.stageExtended{
  min-width: 50vw;
}
.layerVerso{
  /* width: 35vw; */
  /* min-width: flex; */
  border-left: 1px solid #4d4d4d !important;
}

.backgroundWhite {
  background-color: #ebebeb;
}

.backgroundBlack {
  background-color: #252525;
}

.buttons {
  position: absolute;
  right: 0;
  width: auto;
  padding: 1px 5px;
  background-color: #161616;
  border: 1px #333333 solid;
  border-top: 0;
  border-right: 0;
  z-index: 3;
  border-radius: 0 0 0 10px;
}

.buttons > button {
  width: 25px;
  height: 25px;
  border-radius: 50vw;
  border: 2px rgb(192, 192, 192) solid;
  margin: 3px;
}

.buttons > button:nth-child(1) {
  background-color: white;
}

.buttons > button:nth-child(2) {
  background-color: #252525;
}

