/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import '~@fortawesome/fontawesome-free/css/all.css';

@font-face {
  font-family: Manjary;
  src: url("utils/Manjari/Manjari-Thin.ttf");
}

@font-face {
  font-family: Quicksand;
  src: url("utils/Quicksand/Quicksand-Light.ttf");
}

body {
  position: relative;
  color: white;
  height: 100vh;
  background-color: #252525;
  font-family: Manjary;
  overflow-y: hidden;
  margin: 0;
}

h2 {
  margin: 0;
  font-size: 2.25rem;
  font-weight: bold;
  letter-spacing: -0.025em;
  color: #fff;
}

p {
  font-size: 24px;
}

li {
  list-style: none;
}

a {
  color: white;
  opacity: 1;
  text-decoration: none;
}

