.tabList {
  padding: 0;
  margin-top: 0;
  display: flex;
  max-height: 5vh;
}

.tabList > li {
  flex: 1;
  display: inline-block;
  list-style: none;
  margin-bottom: -1px;
  padding: 0.5rem 0.75rem;
  border-bottom: 1px solid #ccc;
}

.tabListActive {
  border: solid #ccc;
  border-width: 1px 1px 0 1px !important;
}

.news {
  box-shadow: 0 0 10px 5px gold;
  transition: box-shadow 0.3s ease-in-out;
}
