.layer {
  border: 1px #303030 solid;
  margin: 3px;
}

.layer img {
  object-fit: contain !important;
}

.layer > img, .layer, .preview, .preview > div > img {
  min-width: 9vw;
  max-width: 9vw;
  min-height: 9vw;
  max-height: auto;
}

.magnifierContainer {
  visibility: hidden !important;
  position: absolute !important;
}

.fitImage {
  display: block;
}

.zoomViewer {
  position: absolute !important;
  left: -1000px;
  top: 3vw;
  height: 400px;
  width: 400px;
  border: 1px #303030 solid;
  font-size: 10px;
  border-radius: 10px;
  background: rgb(75, 75, 75);
  z-index: 3;
}

.infos{
  position: absolute;
  top: 3vw;
  left: 25vw;
  width: auto;
  max-width: 400px;
  height: auto;
  padding: 5px 5px 0 5px;
  border-radius: 10px 0 10px 0;
  color: white;
  z-index: 5;
  background: rgba(32,32,32, .5);
  transition: opacity 0.4s ease 0s;
}

.infos > p {
  margin: 0;
  font-size: 20px;
}